<div id="home" class="banner-w3pvt d-flex">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 bnr-txt-w3pvt">
				<div class="bnr-w3pvt-txt mt-sm-5">
					<h6>Welcome to my Portfolio</h6>
					<h2>Hello <span>I'm George Oduor.</span></h2>
					<h4>Statistician - Data Scientist - Machine Learning Expert</h4>
					<p class="mt-4"> This is my portfolio where i get my hands dirty with analytics stuff.</p>
					<ul class="social_section_1info mt-4">
						<li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li class="mb-2 twitter"><a href="twitter.com"><span class="fa fa-twitter"></span></a></li>
						<li class="https//wwww.linkedin"><a href="linkedin.com/in/georgeoduor"><span class="fa fa-linkedin"></span></a></li>
						<li class="pinterest"><a href="#"><span class="fa fa-pinterest"></span></a></li>
					</ul>
					<a class="button" href="#about" class="scroll bnr-btn mr-2">Read more </a>
          <a class="button2" href="#about" class="scroll bnr-btn mr-2">Hire Me </a>
					<a class="button3" href="#contact" class="scroll bnr-btn1">Download CV </a>
				</div>
			</div>
		</div>
	</div>
</div>
