<section class="experience py-5" id="experience">
	<div class="container py-3">
		<p class="paragraph">Where i have worked before.</p>
		<h3 class="heading mb-sm-5 mb-4">Most Recent Experience</h3>
		<div class="middile-inner-con">
			<div class="tab-main mx-auto">

				<input id="tab1" type="radio" name="tabs" checked>
				<label for="tab1"><img src="images/s1.png" alt="" class="img-fluid" /> RURALNET ICT ACADEMY</label>

				<input id="tab2" type="radio" name="tabs">
				<label for="tab2"><img src="images/s2.png" alt="" class="img-fluid" /> FREELANCE</label>

				<input id="tab3" type="radio" name="tabs">
				<label for="tab3"><img src="images/s4.png" alt="" class="img-fluid" /> CARE KENYA</label>

				<section id="content1">
					<div class="menu-grids">
						<div class="t-in">
							<div class="text-info-sec">
								<div class="service-in text-left">
									<div class="card" >
										<div class="card-body p-0">
										<img src="images/s1.png" alt="" class="img-fluid"/>
										<img src="images/s2.png" alt="" class="img-fluid"/>
										<img src="images/s3.png" alt="" class="img-fluid"/>
											<h3 class="mb-md-4">RURALNET ICT ACADEMY-UGUNJA</h3>
											<h5 class="my-3 card-title" data-aos="fade-left">ICT Tutor & Data Analyst.(Nov 2017 - Present)</h5>
											<p class="card-text" data-aos="fade-left">I have trained professionally to over 50 students on using
                        statistical packages R, Python, SPSS and Advanced Excel alongside offering statistical data analysis
                        services to research students</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="content2">
					<div class="menu-grids">
						<div class="t-in">
							<div class="text-info-sec">
								<div class="service-in text-left">
									<div class="card">
										<div class="card-body p-0">
										<img src="images/s2.png" alt="" class="img-fluid" />
										<img src="images/s3.png" alt="" class="img-fluid" />
										<img src="images/s4.png" alt="" class="img-fluid" />
											<h3 class="mb-md-4">Self Employed</h3>
											<h5 class="my-3 card-title">Student research assistant and machine learning analyst.(JAN 2016 - Present)</h5>
											<p class="card-text">This role has enabled me to tremendously learn and gain alot in data analytics and
                        Machine learning.I have so far built and published projects in machine learning models (supervised and
                        unsupervised) with high levels of accuracy.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="content3">
					<div class="menu-grids">
						<div class="t-in">
							<div class="text-info-sec">
								<div class="service-in text-left">
									<div class="card">
										<div class="card-body p-0">
											<img src="images/s4.png" alt="" class="img-fluid" />
											<img src="images/s5.png" alt="" class="img-fluid" />
											<img src="images/s6.png" alt="" class="img-fluid" />
											<h3 class="mb-md-4">Care Kenya</h3>
											<h5 class="my-3 card-title">Research assistant.</h5>
											<p class="card-text">Successfully collected quality and accurate data with ODK and Kobo collect tools.This role
                      was a great oprtunity for acquiring rigorous data collecting Skills and payment to details.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</section>
