<footer class="py-lg-5 py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<h3 class="wthree-logo mt-3">
					<a href="index.html" id="logoLink1"><span <i class="fas fa-chart-line"></i></span> <span>G</span>eorge</a>
				</h3>
			</div>
			<div class="col-lg-7 my-lg-0 my-4">
				<p><span class="fa mr-2 fa-map-marker"></span>Nairobi,Kenya.</p>
				<p class="mt-2"><span class="fa mr-2 fa-envelope"></span><a href="mailto:george.wamaya@gmail.com">george.wamaya@gmail.com</a>, <span class="fa ml-3 mr-2 fa-phone"></span>(+254)-711-894704)</p>
			</div>
			<div class="col-lg-3 copy-right p-0 text-lg-right">

				<p>Follow me on social media</p>
				<ul class="social_section_1info">
					<li class="mb-2 facebook"><a href="https://www.facebook.com/george.oduor.165"><span class="fa fa-facebook"></span></a></li>
					<li class="mb-2 twitter"><a href="https://twitter.com/GeorgeO48382032"><span class="fa fa-twitter"></span></a></li>
					<li class="linkedin"><a href="https://www.linkedin.com/in/georgeoduor/"><span class="fa fa-linkedin"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copyright py-3 text-center">
	<div class="container">
		<p class="my-2">© 2019 George Oduor. All rights reserved.
		</p>
	</div>
</div>
<!-- copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top">
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->
