<header>
	<nav class="navbar">
		<div class="container">
			<h1 class="wthree-logo">
				<a href="index.html" id="logoLink"><i class="fa fa-adjust"></i> <span>G</span>eorge</a>
			</h1>

			<!-- menu -->
			<ul id="menu">
				<li>
					<input id="check02" type="checkbox" name="menu" />
					<label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
					<ul class="submenu">
						<li><a href="index.html" class="active">Home</a></li>
						<li><a href="#about">About Me</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#experience">Experience</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#testimonials">Testimonials</a></li>
						<li><a href="#contact">Contact Me</a></li>
					</ul>
				</li>
			</ul>
			<!-- //menu -->

		</div>
	</nav>
</header>
