<section class="portfolio py-5" id="portfolio">
	<div class="container py-lg-5">
		<p class="paragraph">What has kept me busy recently...</p>
		<h3 class="heading mb-sm-5 mb-4">My Portfolio</h3>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/kcse.png" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Data Visualization - KCSE Performance trend.</h3>
						<ul class="icon">
							<li><a href="https://georgeapp.shinyapps.io/kcsetrend/"><i class="fa fa-search"></i></a></li>
							<li><a href="https://georgeapp.shinyapps.io/kcsetrend/"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/insecurity.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Data Visualization-Aid Worker Insecurity</h3>
						<ul class="icon">
							<li><a href="https://georgeapp.shinyapps.io/insecurityinsight"><i class="fa fa-search"></i></a></li>
							<li><a href="https://georgeapp.shinyapps.io/insecurityinsight"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/portfolio3.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Portfolio 3</h3>
						<ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/portfolio4.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Portfolio 4</h3>
						<ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/portfolio5.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Portfolio 5</h3>
						<ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/portfolio1.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Portfolio 6</h3>
						<ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/portfolio2.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Portfolio 7</h3>
						<ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6 p-0">
				<div class="box9">
					<img src="images/portfolio3.jpg" alt="portfolio" class="img-fluid" />
					<div class="box-content">
						<h3 class="title">Portfolio 8</h3>
						<ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
